:root {
  --sn-stylekit-success-color: #2f3945;
}

#sn-advanced-markdown-editor .editor-toolbar {
  display: none !important;
}

#sn-advanced-markdown-editor .CodeMirror {
  top: 0 !important;
  font-family: monospace !important;
}

.cm-header.cm-header-1,
.cm-header.cm-header-2,
.cm-header.cm-header-3,
.cm-header.cm-header-4,
.cm-header.cm-header-5 {
  font-size: 15.73px !important
}

span.cm-tab {
    width: 22px !important;
}
